<h3>Users Index</h3>

<% if @current_user.present? && @current_user.admin == true %>
    <%= link_to 'Add User', new_user_path %>
<% end %>

<ul>
    <% @users.each do |user| %>
    <li>
        <%= link_to user.name, user_path(user.id) %>
    </li>
    <% end %>
</ul>
