<%= image_tag("hero.jpg", alt: "people fishing in river", class: "hero-image") %>

<h1 class="hero">Go Fishing With The South Australian Fly Fisher's Association<br><%= button_to 'Find Out More', new_booking_path, :id => "book-dam-button", :class => "primary-button", :method => :get %></h1>

<%= image_tag("logo.png", alt: "saffa logo", class: "top-logo") %>

<div class="home-div">
</div>