
<%= image_tag("hero.jpg", alt: "people fishing in river", class: "hero-image") %>

<%= image_tag("logo.png", alt: "saffa logo", class: "top-logo") %>

<h1 class="hero">Go Fishing With The South Australian Fly Fisher's Association<br><%= button_to 'Book a Dam', new_booking_path, :id => "book-dam-button", :class => "hero-button", :method => :get %></h1>


