/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 body {
    margin: 0;
    padding: 0;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 145%;
    background-color: #FCFCF2;
 }

header {
    height: 120px;
    width: 100%;
    background-color: #47594C;
    color: #ffffff;
    position: absolute;
    margin: 0;
    top: 0;
}

a {
    color: #306CC2;
}

header a {
    color: white;
    text-decoration: none;
}

header a:hover{
    color:white;
}

.main-nav {
    display: flex;
    height: 120px;
    align-items: center;
    margin: 0 40px 0 34px;
    padding: 0;
    list-style: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
}

.main-nav li {
    color: #ffffff;
    padding: .5em 1em;
    display: block;
}

.push {
    margin-left: auto;
}

h1.hero {
    font-family: grueber,serif;
    font-weight: 400;
    font-style: normal;
    color:white;
    text-align: center;
    line-height: 140%;
    position: absolute;
    top:40%;
    left:50%;
    transform: translate(-50%,-45%);
}

.hero-image {
    position: absolute;
    left: 0px;
    top: 120px;
    width:100%;
}

.primary-button {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    text-decoration: none;
    background-color:#CC666B;
    border: 0;
    border-radius: 8px;
    text-decoration: none;
    color:white;
    cursor: pointer;
}

.secondary-button {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    text-decoration: none;
    background-color:#47594C;
    border: 1px solid white;
    border-radius: 8px;
    text-decoration: none;
    color:white;
    cursor: pointer;
}

#book-dam-button {
    width: 200px;
    height: 46px;
    margin-top: 20px;
}

#join-button, #login-button {
    width: 124px;
    height: 42px;
}

.top-logo {
    position: absolute;
    width: 155px;
    height: 155px;
    left: 50%;
    transform: translateX(-50%);
    top: 32px;
}

.footer {
    margin: 200px 0 0 0;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 145%;
}

.footer-logo{
    width: 200px;
    height: 200px;
}

#footer-container {
    padding: 50px;
    display: flex;
    flex: 1 1 0px;
    background-color: #47594C;
    color: white;
}

.footer-column {
    flex-grow: 1;
}

#copyright {
    font-size: 12px;
}

.yield-container {
    margin: 200px 50px 0px 50px;
}

.login-container {
    margin-top: 50px;
    text-align: center;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 145%;
}

.login-field {
    font-family: Source Sans Pro;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 145%;
    width: 300px;
    height: 34px;
}

.home-div {
    height: 900px;
}

#dashboard-items-container {
    display: flex;
    flex: 1 1 0px;
    margin-top: 20px;
}

.dashboard-item {
    background-color: #47594C;
    border-radius: 30px;
    flex-grow: 1;
    margin: 20px;
    padding: 20px;
    color:white;
}

.dashboard-item li {
    list-style: none;
}

.dashboard-item a {
    color: white;
    text-decoration: none;
}

#dam-show-flex {
    display: flex;
    flex: 1 1 0px;
}

.dam-show-item {
    flex-grow: 1;
}

.dam-image {
    max-height: 450px;
}